<!-- CUSTOM FONTS -->
@font-face {
    font-family: "kurale";
    src: url("css/fonts/Kurale-Regular.tff");
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: kurale, helvetica, arial;
}

<!-- HEADER -->

.header {

}

.header_inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #7d97ad;
}

.header_logo {
    width: calc(((100% - 1em) / 10));
    height: 50px;
    margin-left: 1em;
    margin-right: 3em;
    vertical-align: top;
    margin-top: 12px;
}
.header_title_container {
    margin: 0;
    padding: 10px;
    width: calc(((100% - 7em) / 10) * 9);
}
.header_title {
    font-size: 1.5em;
    display: inline-block;
    color: #212121;
    text-align: right;
    width: 100%;
    margin: 0;
    vertical-align: bottom;
}

.header_subtitle{
    font-size: 0.75em;
    margin: 0;
    text-align: right;
    vertical-align: bottom;
}
